html {
    scroll-behavior: smooth;
}

/* NAVBAR */

.navbar-links {
    margin-left: auto;

}

.navbar-links li{
    margin: 0px 25px;
}

.main-head {
    background-image: url("https://davebanguilan.github.io/COE183P/Project/img/Jumbotron-1280.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding: 200px;
}

.main-head img {
    height: 100px;
    width: 100px;
}

/* FONT STYLES */
.navbar-brand span{
    font-size: 1em;
    color: black;
    font-family: 'Oldenburg', cursive;
    vertical-align: -webkit-baseline-middle;
}

h1 {
    margin-top: 30px;
    font-size: 5vw;
    font-family: 'Oldenburg', cursive;
    color: black;
    font-weight: bold;
}

h2, h3 {
    font-family: 'Coda', cursive;
    color: black;
}

.nav-item a, p, footer span {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

h4 {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-style: italic;
    font-size: 1em;
}

/* BG COLORS */
#AboutUs, #Locations {
    background-color: #f3f3f3;
}

/* MAIN CONTENT */
#main-content {
    margin-bottom: 100px;
}

.body-content {
    padding: 30px;
}

.s-title-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-content {
    margin-bottom: 30px;
}

/* .info-content {
} */

/* SERVICES */
.service-div-img {
    padding: 0px;
}

.img-services {
    max-width: 100%;
    height: auto;
}

/* LOCATIONS */
.loc-content {
    margin-bottom: 30px;
    border-bottom: 3px solid black;
}

.loc-content-last {
    margin-bottom: 10px;
    border-bottom: none;
}

/* BOOKING FORM */
.book-form {
    background-color: ghostwhite;
    border: 1px solid black;
    border-radius: 30px;
    padding: 30px;
    margin: 0px 200px;
}

.form-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-group button{
    margin-top: 25px;
}

/* FOOTER */
footer {
    height: 250px;
}

footer img {
    height: 125px;
    width: 125px;
    margin-top: 20px;
}

footer span, footer a {
    color: black;
}

.footer-tag {
    margin-top: 15px;
}

.creator:hover{
    font-size: 1.2em;
    text-decoration: none;
    color: whitesmoke;
}

.footer-icons img{
    width: 30px;
    height: 30px;
    filter: invert(100%);
    margin: 15px;
}

/* EXTRA LARGE DEVICES */
@media (min-width: 1200px) {

}

/* LARGE DEVICES */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* MEDIUM DEVICES */
@media (min-width: 768px) and (max-width: 991px) {
    .main-head {
        padding: 100px;
    }

    .navbar-links li{
        margin: 0px 15px;
    }

    .info-content {
        text-align: center;
        padding-top: 20px;
    }

   .service-right, .loc-add {
       text-align: center;
   }

   .service-div-img {
        margin-bottom: 15px;
    }   

   .book-form {
        border-radius: 20px;
        padding: 10px;
        margin: 0px;
    }

}

/* SMALL DEVICES */
@media (max-width: 767px) {
    .main-head {
        padding: 100px;
    }

    .info-content {
        text-align: center;
        padding-top: 20px;
    }
    .service-left, .loc-add, .service-right  {
        text-align: center;
    }

    .service-div-img {
        margin-bottom: 15px;
    }

    .book-form {
        border-radius: 20px;
        padding: 5px;
        margin: 0px;
    }

}